/* IMPORTS AREA*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Alata&display=swap');
/* IMPORTS AREA*/

:root {
    /* Font families*/
    --font-family-alata: 'Alata', sans-serif;
    --font-family-josefin: 'Josefin Sans', sans-serif;
    /* Font families*/

    /* Font sizes */
    --font-size-body: 15px;
    /* Font sizes*/

    /* Colors*/
    --color-gray: hsl(0, 0%, 55%);
    --color-very-dark-gray: hsl(0, 0%, 41%);
    /* Colors*/
}

* {
    margin: 0;
    padding: 0;
}

/* Navigation Start*/
nav {
    width: 85%;
    position: absolute;
    background: transparent;
    overflow: hidden;
    padding-top: 4rem;
    padding-left: 11rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.navbar {
    font-family: var(--font-family-alata);
    font-size: small;
    font-weight: 400;
    list-style-type: none;
    margin-right: 12%;
}

.navbar li {
    display: inline;
    float: left;
    margin-left: 2rem;
}

.navbar li a {
    color: white;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    border: 0px solid transparent;
}

.navbar li a:hover {
    border-bottom: 1px solid white;
    font-size: medium;
}
/* Navigation End*/

/* Header Start*/
header {
    display: flex;
    flex-direction: column;
    background-image: url('../images/desktop/image-hero.jpg');
    background-repeat: round;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
    padding-left: 10rem;
    padding-bottom: 11rem;
    padding-top: 14rem;
}

h1 {
    width: 45%;
    color: white;
    font-family: var(--font-family-josefin);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 95%;
    font-size: 4em;
    border: 2px solid white;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* Header End*/

/* Section History Start*/
.section-history {
    margin: 9rem;
    background-image: url('../images/desktop/image-interactive.jpg');
    background-repeat: no-repeat;
    background-position: center left 2rem;

    display: flex;
    justify-content: flex-end;
}

article {
    width: 39%;
    padding: 5rem;
    padding-bottom: 0;
    background-color: white;
    margin-top: 12rem;
}

h2 {
    font-family: var(--font-family-josefin);
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 2rem;
}

p {
    font-family: var(--font-family-alata);
    font-weight: 300;
    line-height: 180%;
    font-size: var(--font-size-body);
    color: var(--color-gray);
}
/* Section History End*/

/* Title Creations Start*/

.title-creations {
    width: 80%;
    max-width: calc(100% - 20px);
    display: inline-flex;
    justify-content: space-between;
    margin-left: 10rem;
    margin-bottom: 3rem;
}

.btn-see {
    width: 10%;
    height: 20%;
    margin-right: 6rem;
    letter-spacing: 4px;
    font-family: var(--font-family-alata);
    font-weight: 400;
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    transition: background-color 0.1s ease;
}

.btn-see:hover {
    background-color: black;
    color: white;
}

.btn-see:active {
    background-color: rgba(0, 0, 0, 0.404);
}
/* Title Creations End*/

/* Section Creations Start*/
.section-creations {
    margin-left: 10rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.creation {
    width: 16rem;
    height: 450px;
    margin-bottom: 2rem;
    margin-right: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: end;

    background-image: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
    );
    background-size: 16rem 450px;
    background-blend-mode: color;

    transition: box-shadow 0.5s ease-in-out;
}

.creation:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.creation img {
    position: absolute;
    z-index: -1;
}

h3 {
    margin: 2rem;
    font-family: var(--font-family-josefin);
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    z-index: 999;
}

/* Section Creations End*/

/* Footer Starts*/
footer {
    background-color: black;
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 15rem;
}

.foot-logoNsocial {
    margin-bottom: 1rem;
}

.navNcopy,
.foot-logoNsocial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons a {
    margin-left: 1rem;
}

.nav-footer {
    font-family: var(--font-family-alata);
    font-size: small;
    font-weight: 400;
    list-style-type: none;
    color: white;
    display: flex;
    flex-flow: row nowrap;
}

.nav-footer li {
    display: inline;
    float: left;
    margin-right: 2rem;
}

.nav-footer li a {
    color: white;
    text-align: center;
    text-decoration: none;
}

h5 {
    font-family: var(--font-family-alata);
    font-weight: 300;
    line-height: 180%;
    color: var(--color-very-dark-gray);
}
/* Footer End*/
